<footer class="footer-bg py-4 border-top border-secondary">
    <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center">
        <div class="mb-3 mb-md-0 text-center text-md-start">
            <img src="favicon-16x16.png" alt="logo" />
            <strong class="tracking-wide">@* <i class="fa-solid fa-sliders text-teal me-2"></i> *@ WORSHIP</strong> CONSOLE
            <p class="text-gray small mb-0 mt-1">Simplifying AV for church.</p>
        </div>
        <div class="d-flex gap-4">
            @* <a href="#" class="text-gray text-decoration-none footer-link">About Us</a> *@
            <a href="/contact" class="text-gray text-decoration-none footer-link">Contact</a>
        </div>
    </div>
</footer>
