<nav class="navbar navbar-expand-lg navbar-dark border-bottom border-secondary py-3">
    <div class="container">
        <a class="navbar-brand fw-bold tracking-wide" href="#">
            <img src="favicon-32x32.png" alt="logo" />@* <i class="fa-solid fa-sliders text-teal me-2"></i> *@ WORSHIP <span class="fw-light">CONSOLE</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link text-white" href="/livestream">Livestream</a>
                    <button class="dropdown-toggle dropdown-toggle-split text-white" type="button" id="navbarDropdownLivestream" data-bs-toggle="dropdown" aria-expanded="false" aria-label="Toggle Livestream menu"></button>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownLivestream">
                        <li><a class="dropdown-item" href="/obs">OBS</a></li>
                        <li><a class="dropdown-item" href="/cameras">Cameras</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link text-white" href="/propresenter">ProPresenter</a>
                    <button class="dropdown-toggle dropdown-toggle-split text-white" type="button" id="navbarDropdownProPresenter" data-bs-toggle="dropdown" aria-expanded="false" aria-label="Toggle ProPresenter menu"></button>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownProPresenter">
                        <li><a class="dropdown-item" href="/slides">Slides</a></li>
                        <li><a class="dropdown-item" href="/media">Media</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="/lights">Lighting</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link text-white" href="/pageant">Pageant</a>
                    <button class="dropdown-toggle dropdown-toggle-split text-white" type="button" id="navbarDropdownPageant" data-bs-toggle="dropdown" aria-expanded="false" aria-label="Toggle Pageant menu"></button>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownPageant">
                        <li><a class="dropdown-item" href="/pageant/livestream">Run Livestream</a></li>
                        <li><a class="dropdown-item" href="/pageant/lights">Run Lights</a></li>
                    </ul>
                </li>
            </ul>
            @* <button class="btn btn-outline-teal rounded-pill px-4" onclick="triggerAlert()">Get Started</button> *@
        </div>
    </div>
</nav>