@page "/media"

<PageTitle>ProPresenter Media | Worship Console</PageTitle>

<h3>Media</h3>

<p>
    TODO:
    <ul>
        <li>Download media</li>
        <li>Upload media</li>
        <li>download audio from youtube</li>
        <li>download video from youtube</li>
    </ul>
</p>

@code {

}
