@page "/slides"

<PageTitle>ProPresenter Slides | Worship Console</PageTitle>

<h3>Slides</h3>

<p>
    TODO
    <ul>
        <li>current slide</li>
        <li>control to next slide</li>
    </ul>
</p>

@code {

}
